.line h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 40px;
}
.hero {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.font {
  font-family: "Shadows Into Light", cursive;
}
.nott{
    transform:scale(1,1.3) ;

}
.line:hover:not(.nott){
    transform:scale(1.3,1.3) ;

}
.line {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}
.line:hover {
  background-color: #2596be;
  justify-content: start;
}
.line:hover h1{
  font-weight: 900;
font-stretch: extra-expanded;}
.line1:hover {
  width: 217vw;
}
.line1:hover h1 {
  animation: leftone 10s linear infinite,transform 0s;
}
.line1:hover p {
  animation: leftone 10s linear infinite;
}

.line2:hover {
  width: 226vw;
}
.line2:hover h1 {
  animation: lefttwo 10s linear infinite;
}
.line2:hover p {
  animation: lefttwo 10s linear infinite;
}

.line3:hover {
  width: 210vw;
}
.line3:hover h1 {
  animation: leftthree 10s linear infinite;
}
.line3:hover p {
  animation: leftthree 10s linear infinite;
}

.line4:hover {
  width: 210vw;
}
.line4:hover h1 {
  animation: leftfour 10s linear infinite;
}
.line4:hover p {
  animation: leftfour 10s linear infinite;
}

.line5:hover {
  width: 210vw;
}
.line5:hover h1 {
  animation: leftfive 10s linear infinite;
}
.line5:hover p {
  animation: leftfive 10s linear infinite;
}

.line6:hover {
  width: 206vw;
}
.line6:hover h1 {
  animation: leftsix 10s linear infinite;
}
.line6:hover p {
  animation: leftsix 10s linear infinite;
}
.line p {
  font-size: 80px;
}

.line:hover p{
margin-top: 66px;
}
.line:hover p{
margin-top: 66px;
}

@keyframes leftfour {
  100% {
    transform: translateX(-105.8vw);
  }
}
@keyframes lefttwo {
  100% {
    transform: translateX(-110vw);
  }
}
@keyframes leftfive {
  100% {
    transform: translateX(-106.4vw);
  }
}
@keyframes leftthree {
  100% {
    transform: translateX(-105.1vw);
  }
}
@keyframes leftone {
  100% {
    transform: translateX(-108.5vw);
  }
}
@keyframes leftsix {
  100% {
    transform: translateX(-104vw);
  }
}
