.offers {
  height: 120vh;
  width: 100%;
}
.up-offer,
.down-offer {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5vh;
  
}
.up-text {
  width: 70%;
}
.up-text h1 {
  font-size: 70px;
  transform: scale(1.4, 1.2);
  margin-left: 25%;
}
.up-text h1:nth-child(2),
.up-text h1:nth-child(3) {
  margin-top: -60px;
}

.down-left-offer{
  width: 50%;
  display: flex;
}
.img-offer {
  height: 200px;
  width: 160;
  margin-left: 15%;
  overflow: hidden;
}
.img-offer:nth-child(2){
    margin-left: 50px;
}
.img-offer img{
  height: 200px;
  width: 160px;
}
.offer-offers{
  margin: auto;
}
.offer-offers hr{
  margin-top: -20px;
}
.hidden{
  overflow: hidden;
  height: 60px;
}
.hidden h1{
  transform: scale(1, 1.3);
font-weight: normal;
margin-top: 0px;
height: 50px;

}