.navbar {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 1002;
  animation: down 1s linear 5s forwards;
}
.menu,
.contacts {
  height: 5vh;
  margin-top: 2.5vh;
  width: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  z-index: 2222222;
}
.navbar h2 {
  margin-top: 0;
}
.menu :nth-child(2),
.contacts :nth-child(2) {
  margin-top: -20px;
}

.navbar svg {
  margin-top: 2vh;
  height: 6vh;
  width: 50%;
  z-index: 555555;
}

@keyframes down {
  100% {
    top: 0;
  }
}